ul
  display flex
  flex-direction row
  list-style-type none

.icon
  width: 100px
  height: 100px
  background url("http://clipart-design.ru/files/ftp/Icons/web/000078_social_3d_cubs1.png")
  background-size 300px 300px
  background-repeat no-repeat

.fb
  background-position: 0 0

.insta
  background-position: -100px 0

.twit
  background-position: -200px 0

.google
  background-position: 0px -105px

.vk
  background-position: -100px -105px

.youtube
  background-position: -100px -210px

fontLink(family, fontname, path, format, weight = normal, style = normal)
  font-family family
  src url(path/fontname) format(format)
  font-weight weight
  font-style style

@font-face
  fontLink("Giddyup Std", "11742.ttf", "../fonts", "truetype")

