body
  display flex
  flex-direction column
  align-items center

h2
  margin 0

hr
  width 70%
  margin-top 0

a
  text-decoration none
  color lightskyblue
  font-size 20px
  padding 0
  margin 0

.products
  display flex
  flex-direction row
  justify-content center
  flex-wrap wrap
  margin 0 auto
  width 95%
  .product
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center
    background-color #efefef
    box-shadow 0px 4px 20px
    width 25%
    margin 10px
    // border 1px solid red
.wrapp-desc
  display flex
  flex-direction column
  width 90%
  img
    margin-top 15px
    width 220px
    top 0
    border-radius 10px
    box-shadow 0px 4px 30px
  .navigation
    display flex
    flex-direction row
    justify-content space-around
    padding 0
    margin 0
    margin-bottom 5px
  .panel
    display flex
    flex-direction column
    height 300px
    width 100%
.panel-body
  display flex
  flex-direction column
  align-items flex-start
  height 100%
  .visible
    width 100%
    max-height 200px
    overflow-y scroll
    background-color #fff
    border-radius 5px
  blockquote
    padding 0
    margin 15px
    font-size 20px
    margin-left 10px
    text-align justify
    .message
      font-size 18px
    .mail
      font-size 14px
    .data
      font-size 12px
  .form
    padding 0
    margin 0
    width 100%
    .form-group
      border none
      padding 2px
      .form-control
        padding-left 10px
        border none
        width 100%
        border-radius 5px
        outline none
        line-height 2
        &:focus
              border 1px solid lightblue

.desc-grid
  padding 20px
  height 30px
  width 90%

.btn
  padding 0
  margin 2px
  width 130px
  height 30px
  border none
  border-left none
  border-right none
  background linear-gradient(to bottom, #eeeeee, #aaaaaa)

li
  list-style-type none

.buttons
  display flex
  flex-direction row
  justify-content center
  .but
    padding 0
    margin-bottom 10px
    width 130px
    height 30px
    border-top 1px solid #2b2b2b
    border-bottom 1px solid #2b2b2b
    border-left none
    border-right none
    background linear-gradient(to bottom, #eeeeee, #aaaaaa)
    outline none
    &:hover
      background linear-gradient(to bottom, #dddddd, #555555)
    &:nth-child(1)
      border-left 1px solid #2b2b2b
    &:nth-child(2)
      border-right 1px solid #2b2b2b
      border-left 1px solid #2b2b2b
      background-color lightgoldenrodyellow
    &:nth-child(4)
      background-color lightgoldenrodyellow
      border-right 1px solid #2b2b2b
      border-left 1px solid #2b2b2b
.buy
  padding 0
  margin 0
  border-radius 3px
  border none
  background linear-gradient(to bottom, #32CD32, #008000)
  color #fff
  height 30px
  outline none
  &:hover
    background linear-gradient(to bottom, #00FA9A, #2E8B57)

.buy-grid
  margin 10px
  width 30%

.buy-list
  width 60px

.product-list
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  transition .6s
  &:hover
    background-color #eeeeee
    border-radius 55px
  .desc-list
    display flex
    align-items center
    position relative
    width 20%
    height 80px
    // border-bottom 1px solid #000000
    .img-list
      position absolute
      padding 0
      margin 10px
      width 60px
    &:last-child
      justify-content center
